.todo__group {
  display: flex;
  flex-flow: row nowrap;
}
.todo__group > * {
  flex: 1;
  width: 300px;
  min-height: 100%;
}
.todo__list-owner {
  text-transform: capitalize;
  text-align: center;
  line-height: 1.5em;
  font-size: 18px;
}
.todo__list-owner:hover {
  cursor: pointer;
  color: #ff0000;
}

.todo__list {
  padding: 16px;
}
.active {
  background-color: #f8d3d3;
}

.disabled {
  background-color: #999;
  color: #444;
}

.task {
  height: 40px;
  line-height: 40px;
  margin: 4px;
  display: grid;
  grid-template-columns: 24px 24px 1fr;
  border: solid 1px #666;
  background: #eee;
}

.task__goal {
  width: 16px;
}

.task__action {
  width: 24px;
}

.task__description {

}

.task__complete {
  font-weight: 300;
  font-style: italic;
  color: #888;
}